body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  .container {
    margin-top: 150px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #weatherInfo {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
  }
  
  p {
    margin: 10px 0;
  }
  
  